.header {
    height: 8rem;
    width: 167.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;

    .header-flechas {
        display: flex;
        align-items: center;
        cursor: pointer;

        .flecha {
            font-size: 3.2rem;
            margin: 0 1rem;
            color: $text-color-grey; 
        }
    } 
    
    .desplegable {
        display: flex;
        align-items: center;

        .desplegable-user {
            background-color: $background-sidebar;
            color: $text-color-white;
            outline: 0;
            border: 0;
            border-radius: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $background-playback;
            }
            
            .user-icon {
                font-size: 2.08rem;
                margin-right: 1rem;
                color: $text-color-grey;
            }

            .user-name {
                font-size: 1.4rem;
                font-weight: bold;
                margin-right: 1rem;
            }
        }
    }
}