/* width */
::-webkit-scrollbar {
    width: 1.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $background-sidebar;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-hover;
  }