$text-color-white: #fff;
$text-color-grey: #B3B3B3;
$background-color: #121212;
$background-sidebar: #040404;
$background-playback: #282828;
$scrollbar-color: #4f4f4f;
$scrollbar-color-hover: #828282;
