@import "./variables";
@import "./sidebar";
@import "./main-area";
@import "./playback";
@import "./scrollbar";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    // esto define que 1rem son 10px
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $text-color-white;
    background-color: $background-color;
}

.container {
    width: 100vw;
    min-height: 100vh;
}

.content {
    display: flex;
}






